<?xml version="1.0" encoding="UTF-8"?>
<config>
    <entry key="app.host">localhost</entry>
    <entry key="app.port">8081</entry>
    <entry key="db.name">activityLogManager</entry>
    <entry key="db.con.url">mongodb://127.0.0.1:27017</entry>
    <entry key="act.col.name">activityLogs</entry>
    <entry key="kafka.bootstrap.servers">pkc-12576z.us-west2.gcp.confluent.cloud:9092</entry>
    <entry key="kafka.username">5G25HLVZ5P7DWLZ6</entry>
    <entry key="kafka.password">ZM2F1QqZuUHcor6gY681ipf9vG2aZyOU6bHr69RkC9OC0EkEnn/bu45mbS7NHgIm</entry>
    <entry key="kafka.topic">activityLog</entry>
</config>
